nav {
    margin-bottom: 1rem;
}

.navlink {
    margin-right: 2rem;
    color: rgb(77, 73, 73);
}

.navlink.active {
    color: green;
    font-weight: 600;
}

#posts {
    background-color: rgba(8, 98, 8, 0.475);
}

.title {
    border: 2px solid rgb(22, 17, 17);
    background-color: rgb(93, 134, 93);
}

#form-title {
    border: 2px solid black;
    background-color: rgb(93, 134, 93);
}

#post-form {
   background-color: rgba(8, 98, 8, 0.475);
}

#home-title,
#loggedin,
#page-title,
#login,
#register,
#signedup,
#profile {
    text-decoration: underline;
}