
nav {
    margin-bottom: 1rem;
}

.navlink {
    margin-right: 2rem;
    color: rgb(77, 73, 73);
}

.navlink.active {
    color: green;
    font-weight: 600;
}

#posts {
    background-color: rgba(8, 98, 8, 0.475);
}

.title,
.featured-title,
#form-title {
    border: 2px solid rgb(22, 17, 17);
    background-color: rgb(93, 134, 93);
}

#post-form,
.featured-post {
   background-color: rgba(8, 98, 8, 0.475);
}

#home-title,
#loggedin,
#page-title,
#login,
#register,
#signedup,
#profile,
#profile-welcome {
    text-decoration: underline;
}

.message1 {
border: 2px solid green;
}


